* {
  padding: 0px;
  margin: 0px;
  font-family: popins;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Bg-color {
  display: flex !important;
  flex-direction: row !important;
}
.bg {
  background-color: #9754cb;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.437) 0px 3px 8px;
  width: 750px !important;
  text-align: center;
  height: 350px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column !important;
}
.button-Bg {
  background-color: white !important;
  color: #909090 !important;
  border: 1px solid #deacf5 !important;
}
.heading {
  color: #909090;
  margin-bottom: 10px;
}
.app-heading {
  margin-top: 100px;
  color: #deacf5;
}
.main-component {
  display: flex;
  
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  width: 750px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 15px;
  margin-top: 2px;
  align-items: center;
}
.forget-password {
  font-size: smaller;
  color: #909090;
  cursor: pointer;
}
.forget-password:hover {
  color: #deacf5;
}
.button {
  margin: 20px 0 2px 15px;
}
.register {
  font-size: 12px;
  margin-left: 15px;
  padding: 5px;
  color: #909090;
}
.register-new {
  margin-left: -8px;
  color: #909090;
  font-size: 14px;
}
span {
  color: #deacf5;
  cursor: pointer;
}
.success {
  animation-name: grow-shrink;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  margin-top: 10px;
  color: #deacf5;
}
@keyframes grow-shrink {
  40% {
    transform: scale(1.5);
  }
  80% {
    transform: scale(1);
  }
}
.container-otp {
  margin-top: 25px;
  display: flex;
  justify-content: flex-start !important;
  align-items: flex-start !important;
}
.otp-heading {
  color: #deacf5;
}
.otp-desp {
  color: #909090;
  font-size: smaller;
  margin: 12px 0 2px 0;
}
.otp-input {
  width: 50px;
  height: auto;
  padding: 15px !important;
}
.otp-verify {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0 0 0;
}
.Reg {
  display: flex;
  flex-direction: row;
  margin-left: 120px;
}
.password {
  color: #909090;
  font-size: smaller;
}

.logOut {
  display: flex;
  margin: 20px 0 0 0;
}
